<!--
  Copyright (c) Petr Panteleyev. All rights reserved.
  Licensed under the BSD license. See LICENSE file in the project root for full license information.
  -->

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Java FX Helpers Unit Tests">
    <test name="FX">
        <classes>
            <class name="org.panteleyev.fx.TestReadOnlyStringConverter"/>
            <class name="org.panteleyev.fx.TestWindowManager"/>
            <class name="org.panteleyev.fx.TestController"/>
            <class name="org.panteleyev.fx.TestFxFactory"/>
            <class name="org.panteleyev.fx.TestLabelFactory"/>
            <class name="org.panteleyev.fx.TestMenuFactory"/>
            <class name="org.panteleyev.fx.TestButtonFactory"/>
            <class name="org.panteleyev.fx.TestPredicateProperty"/>
            <class name="org.panteleyev.fx.TestGridBuilder"/>
        </classes>
    </test>
</suite>